@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;

  --color-blue-primary: #0e52ff;
  --color-btn-download: #fdd300;
  --color-hero-title: #121212;
  --color-hero-paragraph: #a0a0a0;
  --color-accent-light: #81a2f5;
  --color-card-bg: #f5f8ff;
}

/* 2. Reusable Utility Classes (Tailwind v4 Native Directive) */
/* 2. Reusable Utility Classes */
@utility layout-container {
  @apply max-w-350 mx-auto px-4 sm:px-6 lg:px-8 w-full;
}
